@import "tailwindcss";

/* Efecto de aparición solo cuando la tarjeta es visible */
.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

/* Estilo base de las tarjetas */
.card {
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 0; /* Iniciar con opacidad cero */
}

/* Tarjeta activa (en el centro) */
.card.active {
  transform: translateX(-120%) translateY(-300%) scale(1.2) rotateY(0deg); /* Ajusta la escala y la posición */
  opacity: 1;
  z-index: 20;
}

/* Tarjeta izquierda (más a la izquierda y ligeramente más elevada) */
.card.left {
  transform: translateX(-230%) translateY(-290%) scale(0.9) rotateY(20deg); /* Mueve más a la izquierda y eleva un poco */
  opacity: 0.6;
  z-index: 10;
}

/* Tarjeta derecha (más a la derecha y ligeramente más elevada) */
.card.right {
  transform: translateX(-10%) translateY(-290%) scale(0.9) rotateY(20deg); /* Mueve más a la derecha y eleva un poco */
  opacity: 0.6;
  z-index: 10;
}


@media (max-width: 400px) {

  #card3 {
    
    padding: 0;
    margin-top: 100px;  /* parte de info de entrenadores */
  }

  #card-container {
           margin: 0;            /*de mis card de entrenadores*/
  }
  
}
